.navbar {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}


form > input, form > textarea {
    width: 100%;
    margin-top:5px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #EEEEEE;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    -webkit-transition: border-color 0.15s ease-in-out 0s;
    -moz-transition: border-color 0.15s ease-in-out 0s;
    -ms-transition: border-color 0.15s ease-in-out 0s;
    -o-transition: border-color 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s;

}

form > input:focus, form > textarea:focus {
    border-color: #67b0d1;
}

form > label {
    font-family: Raleway, sans-serif;
    font-weight: normal;
    margin-bottom: 0px;
}

.submitBtn {
    background-color: #fff;
    color: #facb00;
}
